/* Text */
h1, h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
}

h2 {
    text-align: left;
}

p {
    text-align: left;
    font-family: 'Montserrat', 'Lucida Sans';
    font-weight: 800;
    color: #636363;
}

.center-text {
    text-align: center;
}
/* Nav */

#nav {
    background-color: white;
}

    #nav a{
        color: black;
        margin: auto;
    }

        #nav a:hover {
            color: black;
            background: #b2f39b;
        }

        #nav a.active {
            color: black;
            background: #484848;
        }

            #nav a.active:before {
                content: '';
                display: block;
                position: absolute;
                bottom: -0.6em;
                left: 50%;
                margin-left: -0.75em;
                border-left: solid 0.75em transparent;
                border-right: solid 0.75em transparent;
                border-top: solid 0.6em #282828;
            }

/* Home */
#top {
    padding: 8em 0 6em 0;
}
.big-text {
    text-align: left;
    line-height: 1.1;
}

.we-are {
    color: white;
}

.zaloro-title {
    color: #5de42c;
    font-family: 'Franklin Gothic Heavy', 'Arial Narrow', Arial, sans-serif;
    font-weight:900;
    font-size: 7em;
    margin-bottom: 0.3em;
}

.zaloro-subtitle {
    color: white;
    font-family: 'Franklin Gothic Medium';
    font-size: 2em;
}

.zaloro-name {
    color: #5de42c;
    font-family: 'Franklin Gothic Heavy', 'Arial Narrow', Arial, sans-serif;
    font-weight:900;
    font-size: 7em;
}

.home p {
    color: white;
}

.data-text {
    width: 65%;
    display: inline-block;
}

.narrow-width {
    width: 70%;
    line-height: 1.1;
    display: inline-block;
}

.emphasize-green {
    color: rgb(84, 121, 84);
}

.emphasize-red {
    color: rgb(143, 51, 51);
}

.emphasize-green-bright {
    color: #5de42c;
    font-weight: bold;
}

.emphasize-red-bright {
    color: rgb(252, 94, 54);
    font-weight: bold;
}

.wrapper.home {
    background-image: none;
    background-color: #1c1c1c;
}

/* Overview */
p.p1 {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.7;
    padding-right: 0.3em;
}

p.p2 {
    font-size: 1.1em;
    margin-top: 0.2em;
    padding-left: 0.5em;
    margin-bottom: 1em;
}

h2.question {
    margin: auto;
}

#block {
    display: inline-block;
}

/* results */
.graph {
    border-radius: 8px;
    height: 500px;
}
