.big-text {
    text-align: left;
    line-height: 1.1;
}

.data-text {
    width: 65%;
    display: inline-block;
}

.narrow-width {
    width: 70%;
    line-height: 1.1;
    display: inline-block;
}

.emphasize-green {
    color: rgb(84, 121, 84);
}

.emphasize-green-bright {
    color: rgb(58, 185, 58);
}

.emphasize-red-bright {
    color: rgb(187, 33, 33);
}